body {
  font-family: "Courier new", courier, monospace;
 }

#imgContainer {
    padding: 10px;
}

 #img {
     width: 100%;
 }

 @media (min-width: 768px) {
     #imgContainer {
         margin: auto;
         width: 60%;
     }
 }

#footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  position: absolute;
  bottom: 0;
}

#footer a {
  margin-right: 20px;
  text-decoration: none;
  color: black;
}

#footer a:hover {
  color: #8e8c8c;
}

#navBar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  text-align: right;
  width: 100%;
}

.navTitles {
  margin: 8px;
}

#about, #work, #fun {
  margin-right: 10px;
  opacity: 0;
  transition: .3s ease-in-out;
}

.openMenu #about {
  opacity: 1;
}

.openMenu #work {
  opacity: 1;
}

.openMenu #fun {
  opacity: 1;
}

.menuIcon {
  display: inline-block;
  cursor: pointer;
}

#menuBar1, #menuBar2, #menuBar3 {
  width: 33px;
  height: 2px;
  background-color: black;
  margin: 6px 0;
  transition: .3s ease-in-out;
}

.openMenu #menuBar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 5px);
  transform: rotate(-45deg) translate(-5px, 5px);
}

.openMenu #menuBar2 {
  opacity: 0;
}

.openMenu #menuBar3 {
  -webkit-transform: rotate(45deg) translate(-5px, -7px);
  transform: rotate(45deg) translate(-5px, -7px);
}

.sectionContent {
  display: none;
  margin: auto;
  width: 100%;
  padding: 10px;
}

.sectionContent a {
  text-decoration: none;
  color: black;
}

.sectionContent a:hover {
  color: #8e8c8c;
}

@media (min-width: 768px) {
    .sectionContent {
        width: 60%;
    }
}

.cursor {
    cursor: pointer;
}
